@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --main-color: #9200cc;
    --text-color: #ffffff;
    --bg-color-01: #1f1d1d;
    --bg-color-02: #111111;
    --color-00: #020202;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px var(--main-color);
    background: var(--bg-color-01);
    z-index: 1000;
    width: 100%;
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover {
    color: var(--main-color);
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
}


.menu-hamburguer div {
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: 0.3s;
}

.nav-responsiva {
    display: none;
    position: fixed;
    top: 60px; /* Ajuste conforme a altura do header */
    right: 0;
    width: 100%;
    background-color: var(--bg-color-01);
    text-align: center;
    z-index: 1000;
    padding: 1rem 0;
}


.nav-responsiva a {
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}
.nav-responsiva a:hover {
    color: var(--main-color);
}
.home {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    padding: 6rem 6rem 2rem;
}
.home-content {
    max-width: 600px;
    text-align: left; /* Alinha o texto à esquerda */
    margin-right: auto; /* Empurra o conteúdo para a esquerda */
}

.home-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.home-content h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.home-content h3 span {
    color: var(--main-color); /* Cor roxa para spans dentro de h3 */
}

.home-content p {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
    max-height: 6rem; /* 4 linhas * 1.5 de line-height */
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.home-content .btn {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--main-color);
    border-radius: 30px;
    color: var(--bg-color-02);
    font-weight: bold;
    transition: 0.3s ease;
}

.home-content .btn:hover {
    background-color: inherit;
    color: var(--main-color);
    box-shadow: 0 0 0.3rem var(--main-color);
}

.home-img {
    width: 375px; /* Tamanho quadrado para desktop */
    height: 375px; /* Mantém a proporção quadrada */
    overflow: hidden;
    border: 4px solid var(--main-color); /* Borda roxa */
    box-shadow: 0 0 10px rgba(146, 0, 204, 0.5); /* Sombra roxa */
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    width: 100%; /* A imagem ocupa 100% do espaço do contêiner */
    height: 100%; /* A imagem ocupa 100% do espaço do contêiner */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}


.social-media {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-media a {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--main-color);
    border-radius: 50%;
    font-size: 1.4rem;
    color: var(--main-color);
    transition: 0.3s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--main-color);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
    border: solid 1px var(--bg-color-02);
}

.serviço h2, .portifolio h2, .contato h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.serviço h2 span, .portifolio h2 span, .contato h2 span {
    color: var(--main-color); /* Cor roxa para spans dentro de h2 */
}

.servico-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.servico-box {
    width: 95%;
    max-width: 900px;
    background-color: var(--bg-color-02);
    border-radius: 12px;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Para evitar que o texto vaze */
}
.texto-resumido {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.texto-completo {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 1rem;
    display: none; /* Oculta o texto completo inicialmente */
}
.leia-mais {
    cursor: pointer;
}

.servico-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(146, 0, 204, 0.6);
}

.servico-box i {
    font-size: 3rem;
    color: var(--main-color);
}

.servico-box h3 {
    font-size: 1.4rem;
    color: white;
    margin-top: 0.5rem;
}

.servico-box p {
    font-size: 1rem;
    color: #ccc;
    margin-top: 0.5rem;
}

.portifolio-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.portifolio-box {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portifolio-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.portifolio-box:hover img {
    transform: scale(1.1);
}

.portifolio-layer {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--main-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    transition: bottom 0.5s ease-in-out;
}

.portifolio-box:hover .portifolio-layer {
    bottom: 0;
}

.portifolio-layer h4 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0.5rem;
}

.portifolio-layer p {
    font-size: 1rem;
    color: white;
    margin-bottom: 0.8rem;
}

.portifolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    border-radius: 50%;
}

.portifolio-layer a i {
    font-size: 1.2rem;
    color: var(--bg-color-02);
}

form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input-box input, form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

form textarea {
    resize: none;
}
.sobre h2, .sobre-span{
    display: flex;
    flex-direction: column;
    padding: 2rem ;
    
}
.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide em duas colunas iguais */
    align-items: center; /* Centraliza verticalmente */
    gap: 2rem; /* Espaço entre a imagem e o texto */
    padding: 6rem 6rem 2rem;
}

.sobre-img {
    width: 250px; /* Tamanho da imagem */
    height: 250px; /* Mantém a proporção quadrada */
    border-radius: 50%; /* Transforma a imagem em um círculo */
    border: 4px solid var(--main-color); /* Borda roxa */
    box-shadow: 0 0 10px rgba(146, 0, 204, 0.5); /* Sombra roxa */
    overflow: hidden; /* Garante que a imagem não ultrapasse o círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre h2 {
    font-size: 2.2rem; /* Mesmo tamanho do título "Contate-me" e "Últimos Projetos" */
    margin-bottom: 1rem; /* Espaçamento abaixo do título */
    text-align: center; /* Centraliza o título */
    padding-top: 6rem; /* Espaçamento no topo para alinhar com as outras seções */
}

.sobre h2 span {
    color: var(--main-color); /* Cor roxa para o span */
}
.sobre-content p {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
.sobre-content .btn {
    margin-top: 1rem;
}
.sobre-img img {
    width: 100%; /* A imagem ocupa 100% do espaço do contêiner */
    height: 100%; /* A imagem ocupa 100% do espaço do contêiner */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}
.sobre-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.sobre-content h1 span {
    color: var(--main-color); /* Cor roxa para o span */
}
.sobre-content {
    text-align: left; /* Alinha o texto à esquerda */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

footer p {
    font-size: 1rem;
    color: var(--text-color);
}

/* Estilo para telas menores (menu hambúrguer visível) */
@media (max-width: 768px) {
    .nav {
        display: none; /* Oculta a navegação normal */
    }

    .menu-hamburguer {
        display: block; /* Exibe o menu hambúrguer */
    }

    /* Estilo quando o menu hambúrguer está ativo */
    .menu-hamburguer.ativo .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-hamburguer.ativo .bar2 {
        opacity: 0;
    }

    .menu-hamburguer.ativo .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-responsiva.ativo {
        display: block; /* Exibe a navegação responsiva */
    }
    .home {
        flex-direction: column; /* Coloca o conteúdo em coluna (texto acima, imagem abaixo) */
        text-align: center; /* Centraliza o texto */
        padding: 4rem 1rem 2rem; /* Ajusta o padding para telas menores */
    }

    .home-content {
        padding: 2rem;
        margin-right: 0; /* Remove a margem à direita */
        margin-bottom: 2rem; /* Adiciona espaço entre o texto e a imagem */
    }

    .home-img {
        width: 250px; /* Tamanho reduzido para mobile */
        height: 250px; /* Mantém a proporção quadrada */
     
    }
}
.sobre {
    grid-template-columns: 1fr; /* Uma única coluna (empilha conteúdo) */
    text-align: center; /* Centraliza o texto */
    padding: 4rem 1rem 2rem; /* Ajusta o padding */
}

.sobre-img {
    max-width: 250px; /* Tamanho reduzido para mobile */
    margin: 0 auto; /* Centraliza a imagem */
}

.sobre-content {
    text-align: center; /* Centraliza o texto em mobile */
}



@media (min-width: 769px) {
    .nav-responsiva {
        display: none;
    }

    .menu-hamburguer {
        display: none;
    }
}
.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--main-color); /* Cor de fundo roxa */
    border-radius: 30px; /* Bordas arredondadas */
    color: var(--bg-color-02); /* Cor do texto (fundo escuro) */
    font-weight: bold;
    transition: 0.3s ease;
    margin-top: 1.5rem;
    text-decoration: none; /* Remover sublinhado */
}

.btn:hover {
    background-color: inherit; /* Fundo transparente ao passar o mouse */
    color: var(--main-color); /* Cor do texto roxa ao passar o mouse */
    box-shadow: 0 0 0.3rem var(--main-color); /* Sombra roxa ao passar o mouse */
}
.habilidades-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
.habilidades span{
    color: var(--main-color);
}
.habilidade {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 150px;
}

.barra-progresso {
    position: relative;
    z-index: 2; 
    background-color: var(--bg-color-02); /* Cor de fundo escura */
    border-radius: 10px; /* Bordas arredondadas */
    height: 10px; /* Altura da barra */
    overflow: hidden; /* Garante que o progresso não ultrapasse a barra */
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* Borda branca semi-transparente */
}

.progresso {
    
    background-color: var(--main-color); /* Cor roxa para o progresso */
    height: 100%; /* Altura igual à barra */
    border-radius: 10px; /* Bordas arredondadas */
}
.bxl-html5, .bxl-css3, .bxl-react, .bxl-javascript {
    position: relative;
    z-index: 2; 
   transition: ease 0.3s;
    font-size: 4rem; /* Ajuste o valor conforme necessário */
}
.bxl-html5:hover{
    margin-bottom: 30px;
    transition: ease 0.3s;
    transform: scale(2);
    color: var(--main-color);
}
.bxl-css3:hover{
    margin-bottom: 30px;
    transition: ease 0.3s;
    transform: scale(2);
    color: var(--main-color);
}
.bxl-react:hover{
    margin-bottom: 30px;
    transition: ease 0.3s;
    transform: scale(2);
    color: var(--main-color);
}
.bxl-javascript:hover{
    margin-bottom: 30px;
    transition: ease 0.3s;
    transform: scale(2);
    color: var(--main-color);
}
.habilidades {
    text-align: center; /* Centraliza o texto */
    padding: 6rem 6rem 2rem; /* Mesmo padding das outras seções */
}

.habilidades h2 {
    font-size: 2.2rem; /* Tamanho do título */
    margin-bottom: 1rem; /* Espaçamento abaixo do título */
}

.habilidades h2 span {
    color: var(--main-color); /* Cor roxa para o span */
}

.habilidades h2, .habilades{
    margin-top: -70px;
    margin-bottom: 9rem;
}
.retangulo-fundo {
    border: 2px solid var(--main-color); /* Borda roxa */
    background-color: var(--bg-color-02); /* Cor de fundo escura */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    display: inline-block; /* Faz o retângulo se ajustar ao conteúdo */
    margin-top: 1rem; /* Espaçamento acima do retângulo */
    width: 100%; /* Largura total */
    max-width: 800px; /* Largura máxima (ajuste conforme necessário) */
    box-shadow: 0 0 15px rgba(146, 0, 204, 0.5);
}
.fundo-estrelado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1; /* Coloca o fundo estrelado atrás do conteúdo */
}

.estrela {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: piscar 2s infinite ease-in-out;
    z-index: 1; /* Garante que as estrelas fiquem atrás do conteúdo */
}
@keyframes piscar {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
.estrela-cadente {
    position: absolute;
    width: 2px;
    height: 20px;
    background: linear-gradient(to bottom, transparent, white);
    animation: cair 3s linear infinite;
    z-index: 1; /* Garante que as estrelas cadentes fiquem atrás do conteúdo */
}


@keyframes cair {
    0% {
        transform: translateY(-20px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(100%) rotate(45deg);
        opacity: 0;
    }
}

.habilidades-container {
    position: relative;
    z-index: 2; /* Coloca o conteúdo na frente do fundo estrelado */
}